page-chat {
        .segment {
          .segment-button {
            span {
              background: #0dc3d8;
              padding: 1px 5px;
              border-radius: 50%;
              font-size: 10px;
              margin-left: 2px;
              color: #fff;
            }
          }
        }
        .content-wrapper {
          .slider-content {
            padding: 30px 20px 10px;
            ion-slides {
              ion-slide {
                h5 {
                  font-size: 1.1rem;
                  margin-top: 4px;
                }
                img {
                  width: 45px;
                  height: 45px;
                  object-fit: cover;
                  border-radius: 50%;
                }
                ion-icon {
                  position: absolute;
                  left: 41px;
                  font-size: 1.8rem;
                  background: #0dc3d8;
                  width: 22px;
                  height: 22px;
                  line-height: 22px;
                  color: #fff;
                  border-radius: 50%;
                }
              }
            }
          }
      
          .chat-list {
            background: #fff;
            padding: 5px 10px;
            border-bottom: 1px solid #d2d2d2;
            &:last-child {
              border-bottom: none;
            }
            [col-3]{
              text-align: center;
              ion-icon {
                padding-right: 5px;
                float: right;
                color: #0dc3d8;
                padding-top: 6px;
              }
            }
            img {
              width: 45px;
              height: 45px;
              object-fit: cover;
              border-radius: 50%;
            }
            h5 {
              font-size: 1.4rem;
              margin: 4px 0 0 !important;
              color: #000000;
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            h6 {
              font-size: 1.2rem;
              margin: 7px 0 0 !important;
              font-weight: 400;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p {
              margin: 4px 2px 4px 0;
              text-align: right;
              font-size: 1.1rem;
              color: #000000;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            [col-3]{
              .status-online {
                position: absolute;
                font-size: 10px;
                right: 8px;
                color: #17af44;
                text-transform: uppercase;
              }
              .status-typing {
                position: absolute;
                font-size: 10px;
                right: 8px;
                color: #969696;
                text-transform: uppercase;
              }
      
            }
            .chat-not-view {
              color: #0dc3d8;
              font-size: 12px;
              margin-right: 2px;
              font-weight: 500;
            }
            .price {
              color: #0dc3d8;
            }
          }
        }
        .wallet-block {
          text-align: center;
          .price-list {
            h3 {
              font-size: 1.6rem;
              img {
                width: 40px;
                position: relative;
                top: 13px;
                margin-right: 4px;
              }
            }
          }
          .bank-list {
            img {
              width: 68px;
              margin: 26px 0 13px;
            }
          }
          .payment-list {
            ion-list-header {
              background: #f1f1f1;
              border-top: none;
              text-transform: capitalize;
              margin: 20px 0;
              text-align: left;
              padding-left: 32px;
              color: #000;
              font-size: 1.6rem;
            }
            img {
              width: 40px;
            }
            h5 {
              font-size: 1.5rem;
              margin: 4px 0;
            }
            [col-3]{
              margin-bottom: 12px;
            }
            [col-4] {
              margin-bottom: 12px;
            }
          }
        }
        .bank-block {
          h3 {
            font-size: 1.9rem;
            padding-left: 20px;
            padding-bottom: 10px;
            padding-top: 20px;
          }
          ul {
            padding-left: 21px;
            li {
              list-style-type: none;
              padding-bottom: 8px;
              span {
                width: 100px;
                float: left;
              }
              .bg-transparent {
                background: transparent;
                color: #0dc3d8;
                width: auto;
                box-shadow: none;
                height: auto;
                margin: 0;
                position: relative;
                top: -4px;
              }
            }
          }
          .change-pin {
            padding-left: 12px;
            border-top: 1px solid #ddd;
            li {
              padding: 15px 0;
              font-size: 1.2rem;
              span {
                width: auto;
                font-size: 1.2rem;
              }
              .button {
                height: 2.8rem;
                padding: 0 7px;
                position: relative;
                top: -9px;
                left: 10px;
                font-size: 1.2rem;
              }
            }
          }
        }
        .history-list {
          img {
            background: #0dc3d8;
            object-fit: contain!important;
            padding: 10px;
            width: 40px!important;
            height: 40px!important;
            position: absolute;
            top: 8px;
          }
          h2 {
            background: #0dc3d8;
            padding: 9px;
            width: 40px !important;
            height: 40px !important;
            margin: 0;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.8rem;
            color: #fff;
            border-radius: 50%;
          }
        }
        .fab {
          width: 50px;
          height: 50px;
          ion-icon {
            font-size: 2.3rem;
          }
        }
        button.disable-hover.button.button-md.button-default.button-default-md.button-md-light{
          font-size: 11px;
          border-radius : 47%;
        }
}
