page-wishstorelist {
 .wrapper {
   background: #fff;
   margin-bottom: 6px;
   h5 {
     font-size: 14px;
     margin-bottom: 5px;
     margin-top: 5px!important;
   }
   p {
     font-size: 13px;
     margin: 5px 0;
   }
 }
}
