page-messeges {
.col{
  ion-badge.badge {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    letter-spacing: 0.6px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
  }
  .btn_wrapper{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.04);
    img{
      height: 35px;
    }
    p{
      margin-bottom: 0;
    }
  }
}
}
