<ion-header>
  <ion-navbar color="primary">
    <ion-title>Donation</ion-title>
    <ion-buttons right="" style="margin-right: 8px">
        <button ion-button clear icon-left="" color="extralight" (tap)="view()">
          <!-- <ion-icon name="ios-list" style="font-size: 30px;
          font-weight: bold;"></ion-icon> -->
          My Donation
        </button>
        
        <button ion-button clear icon-left="" color="extralight" (click)="goToFilter()">
            <ion-icon name="md-funnel" style="font-size: 22px;
            font-weight: bold;"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-icon ios="ios-pin" md="md-pin"></ion-icon> -->
  <ion-input class="srch-area" type="text" id="GoForm" [(ngModel)]="search_location.address" placeholder="Search here.." ></ion-input>
</ion-header>


<ion-content padding>
  <img src="assets/imgs/social-care.svg" height="70" class="logo">
  <h4>V27mart charity fund</h4>

  <!-- <ul>
    <li><img src="assets/imgs/donation-1.jpg"></li>
    <li><img src="assets/imgs/donation-2.jpg"></li>
    <li><img src="assets/imgs/donation-3.jpg"></li>
    <li><img src="assets/imgs/donation-4.jpg"></li>
    <li><img src="assets/imgs/donation-5.jpg"></li>
    <li><img src="assets/imgs/donation-6.jpg"></li>
    <li><img src="assets/imgs/donation-7.jpg"></li>
    <li><img src="assets/imgs/donation-8.jpg"></li>
  </ul> -->

  <div class="donation-list">
    <ion-row *ngIf="allDonation.length>0">
      <ion-col col-4 *ngFor="let item of allDonation" (click)="goToDetail(item.id,item.category_names[0],'all')">
        <img [src]="item.small_image[0]">
        <h5>{{item.product_title}}</h5>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="allDonation.length==0" class="no-prod">
      <p style="text-align: center;">No product Belong To This Category</p>
  </div>
  <ion-infinite-scroll (ionInfinite)="moreProducts($event)"> 
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
<!-- 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam 
    blanditiis ea, id minus nesciunt quasi rem unde voluptatum. A aperiam at 
    distinctio dolores dolorum in magni molestias quas, repellendus? 
    Illum incidunt ipsam itaque rem sit-.</p> -->
  
</ion-content>

<ion-footer>
    <button ion-button color="primary" full class="animated fadeInLeft" style="animation-delay: 0.6s" (tap)="donateto()">Donate Now</button>
</ion-footer>
